{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <header>
        <h3>Get These Coins</h3>
    </header>
    <hr>
    <section>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.amount.label }}<br>
                {{ form.amount(size=32) }}<br>
                {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </section>
{% endblock %}
