{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Create Event:</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.eventname.label }}<br>
            {{ form.eventname(size=32) }}<br>
            {{ form.time_to_bet.label }}<br>
            {{ form.time_to_bet(size=32) }}<br>
            {{ form.challenger.label }}<br>
            {{ form.challenger(size=32) }}<br>
            {{ form.more_challenger.label }}<br>
            {{ form.more_challenger(size=32) }}<br>
            {% for error in form.eventname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

