{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <header>
        <h3>Make your Bet</h3>
    </header>
    <hr>
    <section>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.betwinner.label }}<br>
                {{ form.betwinner(size=32) }}<br>
            </p>
            <p>
                {{ form.amount.label }}<br>
                {{ form.amount(size=32) }}<br>
                {% for error in form.amount.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.betonloose() }} {{ form.betonloose.label }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </section>
{% endblock %}
