{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Let's see what we got for you: </h1>
    <hr>
    <div class="btn-group" role="group" aria-label="EventTasks">
        <button type="button" class="btn btn-secondary">
            <a href="{{ url_for('create_event') }}">Create</a>
        </button>
        <button type="button" class="btn btn-secondary">
            <a href="{{ url_for('validate_event') }}">Validate</a>
        </button>
    </div>
    {% for post in posts %}
        <p>
        Post Body: <b>{{ post.body }}</b>
        </p>
        <table class="table">
            <thead>
                <tr>
		    <th scope="col"> Id </th>
		    <th scope="col"> Name </th>
		    <th scope="col"> Deadline</th>
		    <th scope="col"> Bets made </th>
		    <th scope="col"> challenger </th>
                </tr>
            </thead>
            <tbody>
                {% for ev in post.body %}
                    <tr>
                        <td scope="row"> {{ ev['id'] }} </td>
                        <td scope="row"> <a href="{{ url_for('event_profile', eventname=ev['name']) }}">{{ ev['name'] }}</a></td>
                        <td scope="row"> {{ ev['time_to_bet'] }} </td>
                        <td scope="row"> {{ ev['amount'] }} </td>
                        {% for dudes in ev['challenger'] %}
                            <td scope="row"> <a href="{{ url_for('user', username=dudes ) }}">{{ dudes }}</a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

