{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <script type="text/javascript">
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("countWinner").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Winner " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "winner" + i;
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
    </script>
    <h3>Set Winner:</h3>
    <form action="/add_winner" method="POST">
        {{ form.hidden_tag() }}
        <section>
            {{ form.eventname.label }}<br>
            {{ form.eventname(size=32) }}<br>
        </section>
        <section>
            {{ form.winner.label }}<br>
            <input type="text" id="countWinner" name="winner" value="" size="32">
            <button><a href="#" id="addingWinnerForms" onclick="addFields()">Name Winners(s)</a></button>
        </section><br>
        <section>{{ form.submit() }}</section>
        <section id="container"/>
        <hr>
    </form>
{% endblock %}

