{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <header>
        <h3>Impressum</h3>
    </header>
    <hr>
    <section>
        <h4>Responsible for content:</h4>
        <ul>
            <li>Christian Becker</li>
            <li>Markus Kempe</li>
            <li>Juliane Schubert</li>
        </ul>
        <br>
        <h4>If there are any Problems feel free to contact:</h4>
        <a href="mailto:cb82zywi@studserv.uni-leipzig.de">Send me(Christian Becker) Email</a>
    </section>
{% endblock %}
