{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>All Users:</h3>
    <hr>
    {% for post in posts %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Id </th>
                        <th scope="col"> Username </th>
                        <th scope="col"> About me </th>
                        <th scope="col"> Last online </th>
                        <th scope="col"> Coins </th>
                    </tr>
                </thead>
                <tbody>
                    {% for us in post.body %}
                        <tr>
                            <td scope="row"> {{ us['id'] }} </td>
                            <td scope="row"> <a href="{{ url_for('user', username=us['username']) }}">{{ us['username'] }}</a></td>
                            <td scope="row"> {{ us['about_me'] }} </td>
                            <td scope="row"> {{ us['last_seen'] }} </td>
                            <td scope="row"> {{ us['coins'] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}

